* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.14)), linear-gradient(rgba(0, 0, 0, 0.7)), url(./images/main.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    --c: 60px;
    aspect-ratio: 3/2;
    mask: radial-gradient(70% var(--c) at bottom, #0000 calc(100% - 2px), #000);
    border-bottom: 61px solid rgb(216, 31, 38);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Hoverbtn:hover {
    background-color: #ab0505;

}

.navBtn {
    display: flex;
}

.language-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #ffffff59;
    padding: 1px 20px;
}

.language-btn img {
    width: 10px;
    margin-left: 10px;
}

.language-btn .limg {
    width: 40px;
    margin-left: -10px;
}

.header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.inputContainer {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    display: flex;

}

.emailInputBox {
    padding: 1.3rem 2rem;
    border: 0;
    outline: 0;
    background-color: rgba(49, 47, 47, 0.089);
    border: 1px solid #ffffff59;
    border-radius: 3px;
    margin-right: 10px;
    width: 60%;
    color: #fff;
}

.getStartBtn {
    background: #db0001;
    border: 0;
    outline: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    padding: 1.2rem 2rem;
}


.carouselSection {
    width: 90%;
    margin-left: 100px;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
}

.carouselSection h2 {
    margin-left: 50px;
    margin-bottom: 30px;

}

.carouselCardContainer {
    display: flex;
    overflow-x: auto;
    gap: 1.2rem;
    width: 90%;
    margin: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
}

.carouselCardContainer::-webkit-scrollbar {
    display: none;

}

.carouselCard {
    flex: 0 0 180px;
    height: 33vh;
    margin-right: 22px;
    border-radius: 20px;
    position: relative;
    scroll-snap-align: start;
    background-color: #ccc;
    transition: transform .4s;
}

.carouselCard:hover {
    border-radius: 30px;
    transform: scale(1.06);
}

.carouselNumberContainer {
    position: absolute;
    top: 150px;
    left: -24px;
}

.one {
    top: 110px;
    margin-left: 10px;
}

.carouselNumberContainer span {
    color: rgb(0, 0, 0);
    text-shadow:
        -2px -2px 0 #ffff,
        2px -2px 0 #ffff,
        -2px 2px 0 #ffff,
        2px 2px 0 #ffff;
    font-size: 100px;
    font-weight: bolder;
}

.carouselImageContainer {
    width: 100%;
    height: 100%;
}

.carouselImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.carouselNavBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(45, 45, 45, 0.6);
    color: white;
    border: none;
    font-size: 2rem;
    width: 22px;
    height: 120px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
}

.carouselNavBtn.left {
    left: 30px;
}

.carouselNavBtn.right {
    right: 30px;
}

@media (max-width: 600px) {
    .carouselCard {
        flex: 0 0 140px;
    }
}

.reasonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.reasonCard {
    height: 38vh;
    width: 19%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.372);
    background: #1A2144;
    background: linear-gradient(157deg, rgba(26, 33, 68, 1) 0%, rgba(33, 15, 24, 1) 100%);

}

.reasonSection h2 {
    margin-left: 150px;
    margin-bottom: 20px;
}

.reasonCard h2 {
    margin-left: 0;
    font-size: 1.5rem;
}

.reasonCard p {
    font-size: 1rem;
    color: #ffffffb3;
}

.reasonicon i {
    float: right;
    margin-top: 100px;
    margin-right: 10px;
}

.reasonicon1 i {
    float: right;
    margin-top: 90px;
    margin-right: 10px;
}

.reasonicon2 i {
    float: right;
    margin-top: 120px;
    margin-right: 10px;
}

.reasonicon3 i {
    float: right;
    margin-top: 90px;
    margin-right: 10px;
}

.wrapper {
    max-width: 80%;
    margin: auto;
}

.wrapper>p,
.wrapper>h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper>h1 {
    letter-spacing: 3px;
}

.accordion {
    background-color: #2d2d2d;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: #424242;
}

.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: 424242;
    overflow: hidden;
    margin-top: 10px;
    background-color: #424242;
    display: none;
}

.pannel p {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 5px 0;
}

.faq.active {
    border: none;
}

.wrapper h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}


.getStartedSection2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.getStartedSection2 p {
    margin-bottom: 1rem
}

.inputContainer2 {
    margin-top: 20px;
    text-align: center;
    display: flex;

}

.emailInputBox2 {
    padding: 1.3rem 2rem;
    border: 0;
    outline: 0;
    background-color: rgba(49, 47, 47, 0.089);
    border: 1px solid #ffffff59;
    border-radius: 3px;
    margin-right: 10px;
    width: 700px;
    color: #fff;
}

.getStartBtn2 {
    background: #db0001;
    border: 0;
    outline: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    padding: 1.2rem 2rem;
}

.footer {
    display: flex;
    width: 100%;
    min-height: 375px;
    background-color: black;
    flex-wrap: wrap;
    align-items: center;


}

.footercon {
    display: flex;
    margin-left: -50px;
    flex-wrap: wrap;
    min-height: 50px;
    background-color: transparent;
}

.footer .flex1 {
    margin-left: 240px;
    margin-bottom: 50px;
    color: #c3c1c1;
    width: 100%;
    font-size: 17px;

}


.list1 {
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    font-size: 14px;
    margin-left: 300px;
}

.list1 li {
    font-size: 14px;
    margin: 7px -60px;
    list-style-type: none;
    display: flex;

}

.list1 li a {
    color: #cfcece;
    font-size: 16px;
}

li a {
    font-size: 16px;
    text-align: center;
    color: #999;
}


.end {
    width: 100%;
    min-height: 50px;
    background-color: black;
    color: #999;
    margin-left: 190px;
}

.language-btn2 {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #ffffff59;
    border-radius: 3px;
    margin-left: 180px;
    padding: 1px 20px;
    color: #fff;
    margin-bottom: 45px;
}

.language-btn2 img {
    width: 10px;
    margin-left: 10px;
}

.language-btn2 .limg {
    width: 40px;
    margin-left: -10px;
}

.reCAPTCHA p {
    margin-left: 180px;
    margin-bottom: 100px;
    color: #c3c1c1;
    width: 100%;
    font-size: 14px;
}
